.product-card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
